body    {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 0 2rem;

}

.site-logo-container    {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.site-logo  {
    width: 40px;
}

section,
main {
    padding: 2rem;
}

.form > div   {
    display: flex;
    gap: 1rem;
}

#top-text-input,
#bottom-text-input    {
    border : 1px solid #D5D4D8;
    padding: 0.3rem 0.6rem;
    max-width: 12rem;
    min-width: 12rem;
    height: 2.1rem;
    border-radius: 5px;
}

#top-text-input:active,
#bottom-text-input:active,
#top-text-input:hover,
#bottom-text-input:hover {
    border : 1px solid purple;
    width: 14rem;
    height: 2.1rem;
}

#submit-button  {
    border: none;
    border-radius: 5px;
    width: 27.8rem;
    height: 3rem;
    margin: 1rem auto;
    color: white;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    cursor: pointer;
}

#submit-button:hover {
    background: linear-gradient(90deg, #A626D3 1.18%, #672280 100%)
}

.meme-image-container {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.meme-image {
    max-width: 100%;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}